/* Main styling */

@import "webfontkit-Millow/stylesheet.css";


.App {
  font-family: 'Poppins', sans-serif; 
  text-align: center;
  background-Image: url("./img/TILEvint bg.png");
}

#fancy-text {
  font-family: 'millowregular';
  letter-spacing: 3px;
}

.title-plaque
{
  background-Image: url("./img/marked bg.png");
}

.bottomDweller
{  
  background-Image: url("./img/gallery/on-bike.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 1080px;
  width: 100%;
  border: none;
  /* mask-size: 300px 200px; */
  mask-image: -webkit-gradient(linear, center top, center bottom, color-stop(0.00,  rgba(0,0,0,0)),color-stop(1.00,  rgba(0,0,0,1)));
}

/* #fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
#fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
} */

#img-wrapper {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
 }
 
 #img-wrapper > div {
  flex: 1 1 33%;
 }
 .gall-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.fibonacci {
  /* background-color: darkgoldenrod; */
  
  max-width: 50%;
}
.overview{
  max-width: 75vw;
  
}
.overview-text{
  font-size: smaller;
}

.bubble {
  /* background-color: white; */
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 152px;
  margin-right: 20px;
  width: 152px;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 54, 54);
}

.App-link {
  color:  rgba(54, 54, 54, 0.636);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}